{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}

<!-- login page -->
<main id="login-page" class="py-5">
  <div class="container-fluid px-4">
    <div class="row justify-content-center">

      {% if request.GET.command == "verification" %}
      <div class="col-12 col-md-10">
        <div class="alert alert-primary text-center mb-0" role="alert">
          <p class="mb-3">
            Thank you for joining with us. We have sent you a verification
            link to your email address [{{request.GET.email}}]
          </p>
          <p>Already Verified? <a href="{% url "login" %}">Login</a></p>
        </div>
      </div>
      {% else %}
      <div class="col-12 col-sm-8 col-md-7 col-lg-5">
        <div class="card">
          <div class="card-body p-4">
            <h4 class="fw-bold mb-3">Login</h4>
            <form action="{% url "login" %}" method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                <span class="input-group-text"
                  ><i class="bi bi-envelope-fill"></i
                ></span>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email Address"
                  name="email"
                  required
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text"
                  ><i class="bi bi-key-fill"></i
                ></span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  required
                />
              </div>
              <div class="text-end mb-3">
                <a href="{% url "forgot_password" %}">Forgot Password?</a>
              </div>

              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
            <div class="text-center">
              <span>Don't have account? <a href="{% url "signup" %}">Signup</a></span>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>
<!-- login page end -->

{% endblock content %}